In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Impfondo,CG,2021-11-26 16:12:07,1.6381,18.0667,84.96,56,76,1.86
1,1,Maku,IR,2021-11-26 16:14:31,39.2911,44.4521,44.02,86,100,1.97
2,2,Bredasdorp,ZA,2021-11-26 16:14:31,-34.5322,20.0403,63.57,90,100,22.01
3,3,Quezaltepeque,SV,2021-11-26 16:11:22,13.8350,-89.2744,83.08,60,85,4.12
4,4,Moron,AR,2021-11-26 16:12:57,-34.6534,-58.6198,85.69,28,0,4.38

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Impfondo,CG,2021-11-26 16:12:07,1.6381,18.0667,84.96,56,76,1.86
3,3,Quezaltepeque,SV,2021-11-26 16:11:22,13.8350,-89.2744,83.08,60,85,4.12
4,4,Moron,AR,2021-11-26 16:12:57,-34.6534,-58.6198,85.69,28,0,4.38
5,5,Bengkulu,ID,2021-11-26 16:14:32,-3.8004,102.2655,76.91,87,72,5.35
8,8,Butaritari,KI,2021-11-26 16:14:33,3.0707,172.7902,81.64,75,96,20.74
12,12,Bambous Virieux,MU,2021-11-26 16:14:34,-20.3428,57.7575,79.05,73,40,3.44
22,22,Bathsheba,BB,2021-11-26 16:14:38,13.2167,-59.5167,83.01,78,75,10.36
24,24,Hithadhoo,MV,2021-11-26 16:14:38,-0.6000,73.0833,81.23,71,92,13.42
25,25,Georgetown,MY,2021-11-26 16:14:38,5.4112,100.3354,80.53,83,20,3.44
27,27,Sumbe,AO,2021-11-26 16:14:39,-11.2061,13.8437,79.83,73,22,8.93

In [11]:
preferred_cities_df.count()

City_ID       176
City          176
Country       174
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0          Impfondo      CG     84.96   1.6381   18.0667
3     Quezaltepeque      SV     83.08  13.8350  -89.2744
4             Moron      AR     85.69 -34.6534  -58.6198
5          Bengkulu      ID     76.91  -3.8004  102.2655
8        Butaritari      KI     81.64   3.0707  172.7902
12  Bambous Virieux      MU     79.05 -20.3428   57.7575
22        Bathsheba      BB     83.01  13.2167  -59.5167
24        Hithadhoo      MV     81.23  -0.6000   73.0833
25       Georgetown      MY     80.53   5.4112  100.3354
27            Sumbe      AO     79.83 -11.2061   13.8437

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Impfondo,CG,84.96,1.6381,18.0667,Auberge La Place de Jules
3,Quezaltepeque,SV,83.08,13.8350,-89.2744,Residencial Mercher
4,Moron,AR,85.69,-34.6534,-58.6198,Hotel Morón
5,Bengkulu,ID,76.91,-3.8004,102.2655,Grage Hotel Bengkulu
8,Butaritari,KI,81.64,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...
560,Iguguno,TZ,78.69,-4.5697,34.6275,
564,Juazeiro,BR,86.18,-9.4117,-40.4986,JB Hotel
566,Kandrian,PG,76.30,-6.2167,149.5500,Kandrian Station
567,Bol,TD,83.25,13.4586,14.7147,Hotel 3 Etoiles
569,Soyo,AO,86.05,-6.1349,12.3689,Hotel Mpampa

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))